*{
    font-family: 'Quicksand', sans-serif;
}

body{
    line-height: 1.4;
    color: #3c393d;

}

header h1{
    color: white
}

header{
    background-color: #3c393d;
}

.nav-menu a{
    text-transform: uppercase;
    font-family: '', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
}

.nav-menu a:hover{
    opacity: 0.7;
}

main{
    text-align: center;
    padding: 1rem 0;
}

main h2{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.post-preview {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "title title"
        "image excerpt"
        "button button";
    gap: 1rem;
    align-items: start;
    border-radius: 15px;
    border: 1px solid #000000;
    padding: 1rem;
}

.post-title {
    grid-area: title;
    font-size: 1.5rem;
    margin: 0;
}


.post-excerpt {
    grid-area: excerpt;
    font-size: 1rem;
    margin: 0;
}

.post-button {
    grid-area: button;
    background-color: blue;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.full-post {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    border: solid 1px #000000;
}

.post-title {
    grid-row: inherit;
    grid-column: 1 / -1;
}

.post-content {
    grid-area: content;
    font-size: 1rem;
    margin-left: 1rem;
}

